<app-dashboard></app-dashboard>
<section class="container pt-3">
    <div class="row py-3 bg-dark">
        <div class="col-3 align-self-center">
            <button class="btn btn-light btn-lg float-start mx-4" [routerLink]="['/user']">
                <i class="fa-regular fa-circle-left"></i>
                Volver a usuarios
            </button>
        </div>
        <div class="col-5">
            <h1 class="p-3 text-light">Formulario de Usuarios</h1>
        </div>
    </div>
    <div class="row p-3 bg-light">
        <form class="form-floating" [formGroup]="userForm" (ngSubmit)="userInfo()">
            <div class="form-floating mb-3">
                <input type="text" formControlName="fullName" class="form-control" id="floatingName" placeholder="Full Name required">
                <label for="floatingName">Nombre: </label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" formControlName="email" class="form-control" id="floatingEmail" placeholder="email@email.email">
                <label for="floatingEmail">Correo: </label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" formControlName="cellphone" class="form-control" id="floatingCellPhone" placeholder="Number of cellphone">
                <label for="floatingCellPhone">Número celular: </label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" formControlName="address" class="form-control" id="floatingAddress" placeholder="The address is required">
                <label for="floatingAddress">Dirección: </label>
            </div>
            <button type="submit" class="btn btn-success my-3">
                <i class="fa-regular fa-floppy-disk"></i>
                Registrar
            </button>
        </form>
    </div>
</section>