<app-dashboard></app-dashboard>
<section class="container p-3">
    <div class="row justify-content-center bg-light">
        <h2 class="p-3 text-center">Lista de usuarios</h2>
        <div class="col p-3">
            <table class="table table-striped p-5">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre Completo</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark Antonio Celis</td>
                        <td>correo@correo.correo</td>
                        <td>7777777</td>
                        <td>Calle Falsa 123</td>
                        <td>
                            <button type="button" class="btn btn-danger px-4 me-3">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                            <button type="button" class="btn btn-warning px-4 me-3">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>