<app-dashboard></app-dashboard>
<section class="container p-3">
    <div class="row py-3 bg-dark">
        <div class="col">
            <h1 class="p-3 text-center text-light">Lista de usuarios</h1>
        </div>
        <div class="col align-self-center">
            <button class="btn btn-light btn-lg float-end mx-4" [routerLink]="['/create-user']">
                <i class="fa-regular fa-square-plus"></i>
                Crear usuario
            </button>
        </div>
    </div>
    <div class="row justify-content-center bg-light">
        <div class="col px-5 py-3">
            <table class="table table-striped px-5">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre Completo</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userList">
                        <th scope="row"> 1 </th>
                        <td> {{ user.fullName }} </td>
                        <td> {{ user.email }} </td>
                        <td> {{ user.cellphone }} </td>
                        <td> {{ user.address }} </td>
                        <td>
                            <button type="button" class="btn btn-danger px-4 me-3" (click)="deleteUser(user._id)" >
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                            <button type="button" class="btn btn-warning px-4 me-3" [routerLink]="['/alter-user',user._id]">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>