<app-dashboard></app-dashboard>
<section class="container-fluid p-5">
    <div class="row p-5">
        <div class="card text-center text-white bg-dark flex-column p-5 col-6 offset-3 d-flex">
            <h5 class="card-header">Error</h5>
            <div class="card-body">
                <h5 class="card-title">¡Ups! 404</h5>
                <p class="card-text">El contenido que estás buscando no se encuentra disponible.</p>
                <a href="#" class="btn btn-primary">Volver al inicio</a>
            </div>
        </div>
    </div>
</section>