<app-dashboard></app-dashboard>
<section class="container">
    <div class="row bg-dark p-3 m-3 justify-content-center">
        <h1 class="gradient-text text-center">Bienvenido a su tienda de confianza</h1>
    </div>
    <div class="row p-3 justify-content-center hstack gap-3">
        <div *ngFor="let product of productList" class="card px-3" style="width: 18rem;" aria-hidden="true">
            <img [src]="product.imgPath" class="card-img-top p-2" alt="...">
            <div class="card-body">
                <h5 class="card-title"> Producto: {{ product.name }}</h5>
                <p class="card-text"> Valor: {{ product.price | currency:'COP'}}</p>
                <p class="card-text"> Disponibles: {{ product.stock_available }}</p>
                <p class="card-text"> Descripción: {{ product.description }}</p>
                <a class="btn btn-primary" (click)="addToShoppingCart(product._id, product.name, product.price, product.stock_available)"> 
                    <i class="fa-solid fa-cart-arrow-down"></i> 
                    Añadir al carrito 
                </a>
            </div>
        </div>
    </div>
</section>